---
layout: default
title: Software
---

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="page-header">
                <h3>Software developed at the Department</h3>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div style="height:20px;"></div>
        {% for soft in site.software_type %}
        <div class="col-sm-6">
            <h4>{{ soft }}</h4>
            <div class="well">
            <ul>
                {% assign sorted_pages = (site.pages | where: "layout" , "software" | where: "type" , soft | sort: 'softwareid') %}
                {% for page in sorted_pages %}
                <li>
                    {% if page.mainurl %}
                    <p><a href="{{page.mainurl}}"><strong>{{page.title}}</strong></a></p>
                    {% else %}
                    <p><a href="{{page.url | prepend: site.baseurl}}"><strong>{{page.title}}</strong></a></p>
                    {% endif %}
                    <p>{{ page.description}}</p>
                </li>
                {% endfor %}
            </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <div style="height:40px;"></div>
</div>


    
    
    
    
    
    
    
        
