---
layout: default
title: Software
---

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="page-header">
                <h3>Software developed at the Department</h3>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div style="height:20px;"></div>
        {% for soft in site.data.metadata.software_type %}
        <div class="col-sm-6">
            <h4>{{ soft }}</h4>
            {% assign sorted_pages = (site.pages | where: "layout" , "software" | where: "type" , soft | sort: 'softwareid') %}
            {% for p in sorted_pages %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    {% if p.mainurl %}
                        <a href="{{p.mainurl}}"><h3 class="panel-title">{{p.title}}</h3></a>
                    {% else %}
                        <a href="{{p.url | prepend: site.baseurl}}"><h3 class="panel-title">{{p.title}}</h3></a>
                    {% endif %}
                  </div>
                  <div class="panel-body">
                    {{ p.description}}
                  </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div style="height:40px;"></div>
</div>


    
    
    
    
    
    
    
        
