---
layout: default
title: Software
---

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h3>Software developed at the Department</h3>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div style="height:20px;"></div>
        {% assign id=0 %}
        {% for soft in site.data.cibivdata.software_type %}
            {% if id == 0 %}
                <div class="col-sm-6" style="background-color:#DDDDDD;">
                {% assign id = 1 %}
            {% else %}
                <div class="col-sm-6" style="background-color:#648aa7;">
                {% assign id = 0 %}
            {% endif %}
            
            <h4>{{ soft }}</h4>
            {% assign sorted_pages = (site.pages | where: "layout" , "software" | where: "type" , soft | sort: 'softwareid') %}
            {% for p in sorted_pages %}
                <div class="well">
                    {% if p.mainurl %}
                        <a href="{{p.mainurl}}"><h3 class="panel-title">{{p.title}}</h3></a>
                    {% else %}
                        <a href="{{p.url | prepend: site.baseurl}}"><h3 class="panel-title">{{p.title}}</h3></a>
                    {% endif %}
                    <div style="height:5px;"></div>
                    {{ p.description}}
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div style="height:40px;"></div>
</div>


    
    
    
    
    
    
    
        
