---
layout: default
title:  People
---
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h3>Current Members</h3> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12 text-center">
        {% assign id = 0 %}
        {% assign sorted_pages = (site.pages | where: "layout" , "personalpage" | sort: 'title') %}
        {% for page in sorted_pages %}
        {% if id == 0 %}
            <div class="row">
        {% endif %}
            <div class="col-md-3">
                <div style="height:20px;"></div>
                
                <a href="{{ page.url | prepend: site.baseurl }}">
                    <div class="imageCIBIV">
                        <div class="imageInn">
                            <img class="img-circle" src="{{page.image}}" width=180 alt="{{page.title}}">
                        </div>
                        <div class="hoverImg">
                            <img class="img-circle" src="{{page.image2}}" width=180 alt="{{page.title}}">
                        </div>
                    </div>
                </a>
                <br>
                <p><font size="3"><a href="{{ page.url | prepend: site.baseurl }}">{{page.title}}</a></font><br>
                {{page.position}}</p>
            </div>
            {% assign id = id | plus: 1 %}
            {% if id == 4 %}
                {% assign id = 0 %}
            {% endif %}
        {% if id == 0 %}
            </div>
        {% endif %}
        {% endfor %}
        {% if id != 0 %}
            </div>
        {% endif %}
        </div>
    </div>
    <div class="row">
    </div>
    <div style="height:40px;"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="page-header">
                <h3>see also <a href="/people/former_members.html">Former Members</a></h3>
            </div>
        </div>
    </div>
    <div style="height:40px;"></div>
</div>

