---
layout: default
title: People
---
<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="page-header">
                <h3>Current Members</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 text-center">
        {% assign id = 0 %}
        {% assign sorted_pages = (site.pages | where: "layout" , "personalpage" | sort: 'title') %}
        {% for page in sorted_pages %}
            <div class="col-sm-4">
                <div style="height:10px;"></div>
                <a href="{{ page.url | prepend: site.baseurl }}"><img class="img-rounded"src="{{page.image}}" width=220 alt="{{page.title}}"></a>
            </div>
            {% assign id = id | plus: 1 %}
            {% if id == 3 %}
                {% assign id = 0 %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="row">
    </div>
    <div style="height:40px;"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="page-header">
                <a href="/people/former_members.html"><h3>Former Members</h3></a>
            </div>
        </div>
    </div>
    <div style="height:40px;"></div>
</div>

