<div id="footerwrap" class="container-full bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href="https://intern.cibiv.univie.ac.at/egroupware/index.php?menuaction=calendar.calendar_uiviews.index">CIBIV Calendar</a><br>
                <a href="https://intern.cibiv.univie.ac.at/twiki/">CIBIV TWiki server</a><br>
                <a href="https://intern.cibiv.univie.ac.at/seminar/groupmeetings.pl?Print=Print">Monday Seminar List</a><br>
                <a href="https://intern.cibiv.univie.ac.at/seminar/journalclub.pl?Print=Print">Journal Club List</a><br>
                <a href="https://calendar.google.com/calendar/embed?src=scientific.director.mfpl%40gmail.com&ctz=Europe/Vienna">Arndt's Calendar</a><br>
                <a href="https://calendar.google.com/calendar/ical/scientific.director.mfpl%40gmail.com/public/basic.ics">Import Arndt's Calendar</a><br>
                <br>
                    <p>&copy; 2019 CIBIV</p>
            </div>
        </div>
    </div>
</div>
