<div id="footerwrap" class="container-full bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href="https://intern.cibiv.univie.ac.at/egroupware/index.php?menuaction=calendar.calendar_uiviews.index">CIBIV Calendar</a><br>
                <a href="https://intern.cibiv.univie.ac.at/twiki/">CIBIV TWiki server</a><br>
                <a href="https://intern.cibiv.univie.ac.at/seminar/groupmeetings.pl?Print=Print">Monday Seminar List</a><br>
                <a href="https://intern.cibiv.univie.ac.at/seminar/journalclub.pl?Print=Print">Journal Club List</a><br><br>
                    <p>&copy; 2016 CIBIV</p>
            </div>
        </div>
    </div>
</div>
