{% for soft in site.data.cibivdata.software_type %}
<div class="well">
    <h4>{{soft}}</h4>
    <div class="row">
        {% assign sorted_pages = (site.pages | where: "layout" , "software" | where: "type" , soft | sort: 'softwareid') %}
        {% for p in sorted_pages %}
        <div class="col-sm-12 col-xs-6">
            {% if p.title == page.title %}
                <p><strong>{{ p.software_name }}</strong></p>
            {% elsif p.mainurl %}
                <p><a href="{{ p.mainurl }}">{{ p.software_name }}</a></p>
            {% else %}
                <p><a href="{{ p.url | prepend: site.baseurl }}">{{ p.software_name }}</a></p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
