<div class="well">
    <div class="row">
        {% for pos in site.data.cibivdata.people_type %}
            {% assign sorted_pages = (site.pages | where: "layout" , "personalpage" | where: 'position', pos | sort: 'title') %}
            <div class="col-xs-12">
                <h4>{{pos}}</h4>
            </div>
        {% for p in sorted_pages %}
            <div class="col-sm-12 col-xs-6">
                {% if p.title == page.title %}
                    <p>&rarr; {{ p.title }}</p>
                {% else %}
                    <p><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></p>
                {% endif %}
            </div>
        {% endfor %}
        {% endfor %}
        <div class="col-sm-12 col-xs-6">
            <p><a href="{{ site.baseurl }}/people/former_members.html"><strong>&rarr; Former members</strong></a></p>
        </div>
    </div>
</div>
