<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

<body>
    {% include nav.html %}
    {% include subheader.html %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-5 col-md-4">
                        <img class="img-rounded" width=220 src="{{ page.image }}" align="center">
                    </div>
                    <br>
                    <div class="col-sm-7 col-md-8">
                        {{ page.address }}
                    </div>
                </div>
                {% if page.date %}
                    <div align="right"><em>Last update: {{ page.date | date: "%b %d, %Y" }}</em></div>
                {% endif %}
                {{ content }}
                {% include publications.html %}
            </div>
            <div class="col-sm-3">
               {% include sidebar-people.html %}
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include js.html %}
</body>
</html>

