<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

<body>
    {% include nav.html %}
    {% include subheader.html %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                {% if page.date %}
                    <div align="right"><em>Last update: {{ page.date | date: "%b %d, %Y" }}</em></div>
                {% endif %}
                {{ content }}
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include js.html %}
</body>
</html>

